<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



		<h1>

		 Pigglets

		</h1>

		<div>
			<h2>
				We have red velvet cup cakes and learn a lot
			</h2>
             <p> 28/3/2015 </p>
		</div>
		<div>
			<h2>You should try it</h2>
             <p> 28/3/2015 </p>
		</div>
		<div>
			<h2>Pink baloons</h2>
             <p> 28/3/2015 </p>
		</div>
		<div>
			<h2>Watermelons</h2>
             <p> 28/3/2015 </p>
		</div>
<% @websites = [
		["http://www.camaloon.es", "hallo"],
		["http://www.camaloon.es", "hallo2"],
		["http://www.camaloon.es", "hallo3"]
	] %>

	<% for url, name in @websites %>
		<li> <a href="http://www.camaloon.es"> <%= name %> </a> </li>
	<% end %>


		<ul> 
			<li><a href="http://www.camaloon.es">text</a></li>
			<li><a href="http://www.camaloon.es">text</a></li>
			<li><a href="http://www.camaloon.es">text</a></li>


			<img src=" http://www.thetimes.co.uk/tto/multimedia/archive/00022/Piglets_22988c.jpg"style="width: 90px"/>/>
			<img src=" "

			



			</ul>